<div class="py-0">
    <button type="button" (click)="irACrear()" class="btn btn-success">Añadir</button>
</div>
<h2 class="text-center">Pacientes</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Mail</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        <tr *ngFor = "let paciente of lista">
            <td>{{paciente.idPaciente}}</td>
            <td>{{paciente.nombres}}</td>
            <td>{{paciente.apellidos}}</td>
            <td>{{paciente.dni}}</td>
            <td>{{paciente.email}}</td>
            <td>
                <button class="btn btn-info" (click)="editarPaciente(paciente)" >Editar</button>
                <button class="btn btn-danger"  (click)="eliminarPaciente(paciente)"  style="margin-left: 10px;">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
