<div class="py-0">
    <button type="button" (click)="irACrear()" class="btn btn-success">Añadir</button>
</div>
<h2 class="text-center">Medicos</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Paciente</th>
            <th>Medico</th>
            <th>Especialidad</th>
            <th>No.Consulta</th>
            <th>Fecha</th>
            <!-- <th>Detalle</th> -->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        <tr *ngFor = "let consulta of list1">
            <td>{{consulta.idConsulta}}</td>
            <td>{{consulta.paciente.nombres}}</td>
            <td>{{consulta.medico.nombres}}</td>
            <td>{{consulta.especialidad.nombre}}</td>
            <td>{{consulta.numConsultorio}}</td>
            <td>{{consulta.fecha}}</td>
            <!-- <td>{{consulta.detalleConsulta}}</td> -->
            <td>
                <button class="btn btn-info" >Editar</button>
                <button class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
