<div class=" py-3  border border-dark rounded text-center col-md-6 offset-md-3 ">
    <form (ngSubmit)="onSubmit()">
        <div class="col py-1 form-group">
            <input type="text" class="form-control" 
            placeholder="Nombres" 
            aria-label="First name" for="nombres" 
            id="Nombre"
            name="Nombre"
            [(ngModel)] = "paciente.nombres" >
        </div>
            
        <div class="col form-group">
            <input type="text" class="form-control" 
            placeholder="Last name" aria-label="Last name"
            id="Apellido"
            name="Apellido"
            [(ngModel)] = "paciente.apellidos" >
        </div>
        
        <div class="col form-group">
            <input type="number" class="form-control" 
            placeholder="DNI" aria-label="Last name"
            id="dni"
            name="dni"
            [(ngModel)] = "paciente.dni" >
        </div>

        <div class="col form-group">
            <input type="text" class="form-control" 
            placeholder="dirección" aria-label="Last name"
            id="direccion"
            name="direccion"
            [(ngModel)] = "paciente.direccion">
        </div>
        
        <div class="col form-group">
            <input type="tel" class="form-control" 
            placeholder="Telefono" aria-label="Last name"
            id="telefono"
            name="telefono"
            [(ngModel)] = "paciente.telefono" >
        </div>

        <div class="col form-group">
            <input type="email" class="form-control" 
            placeholder="mail" aria-label="Last name"
            id="mail"
            name="mail"
            [(ngModel)] = "paciente.email">
        </div>
        
        <div class=" py-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

        <div *ngIf="hayError">
            <span > <h4  class="text-danger">{{errorMessage}} </h4></span>
        </div>
    </form>
</div>


<!-- 
{
       
    "nombres": "Josue",
    "apellidos": "Perez",
    "dni": "20729014",
    "direccion": "zona 5",
    "telefono": "411229280",
    "email": "josuedp1691@gmaill.com"
} -->