<!-- barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="listPacie" routerLinkActive="active">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="listMedic" routerLinkActive="active">Medicos</a>
        </li>
        <li>
          <a class="nav-link" routerLink="home" routerLinkActive="active">
              <img src="./assets/1.png" alt="">
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="listEspeci" routerLinkActive="active">Laboratorios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="listConsu" routerLinkActive="active">Consultas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<router-outlet></router-outlet>-->
<div class="container py-3">
  <router-outlet></router-outlet>
</div>