<!-- Título del pinche hospital -->
<h1 class="py-3 text-center">Centro Medico las <span class="badge bg-warning">Gardenias</span></h1>
<!-- Ilustración vía carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/hosp3.png" class="d-block w-100" alt="Ilustración hospital" height="600" width="550">
        <div class="carousel-caption d-none d-md-block">
            <div class="row">
                <div class="col text-center">
                    <a class="nav-link" routerLink="listConsu" routerLinkActive="active">
                        <img src="./assets/consulta.png" alt="" height="100" width="100" class="img-fluid">
                    </a>
                </div>
                <div class="col text-center">
                    <a class="nav-link" routerLink="listEspeci" routerLinkActive="active">
                        <img src="./assets/laboratorios.png" alt="" height="100" width="100" class="img-fluid">
                    </a>
                </div>
                <div class="col text-center">
                    <a class="nav-link" routerLink="listPacie" routerLinkActive="active">
                        <img src="./assets/pacientes.png" alt="" height="100" width="100" class="img-fluid">
                    </a>
                </div>
                <div class="col text-center">
                    <a class="nav-link" routerLink="listMedic" routerLinkActive="active">
                        <img src="./assets/Medicos.png" alt="" height="100" width="100" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/hosp2.png" class="d-block w-100" alt="Instalaciones" height="600" width="550">
      </div>
      <div class="carousel-item">
        <img src="./assets/hosp1.png" class="d-block w-100" alt="Instalaciones " height="600" width="550">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
